@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.question-root {
  display: flex;
  flex-direction: column;
}

.progress {
  margin: 2rem 0;
}

.quiz-root {
  margin: 10px 2em;
  overflow-y: hidden;
}
.progress-container {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  h1 {
    min-height: 50px;
    font-size: 2rem;
  }
  p {
    font-weight: 400;
    text-align: center;
    min-height: 50px;
    font-size: 1.3rem;
  }
  a {
    color: #608f84;
  }
}

.question-container {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    min-height: 50px;
    font-size: 2rem;
  }
  h2 {
    font-weight: 400;
    text-align: center;
    min-height: 75px;
    font-size: 1.3rem;
  }
}

.checkboxgroup {
  display: inline-block;
  text-align: center;
  width: 45%;
}
.checkboxgroup label {
  display: block;
  font-family: "Josefin Sans";
}

#radio_1 {
  height: 72px;
  width: 72px;
}

#radio_2 {
  height: 72px;
  width: 72px;
}

#checkboxes {
  margin-bottom: 15%;
}

.radio-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  .radio-root {
    margin: 0 40px;
  }
}

.next-btn {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  width: 100%;
}

.continue-btns {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  * {
    margin-top: 1rem;
  }
}

.thanks {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
