@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
}
body{
    
    font-family: 'Josefin Sans';
}
.q{
    margin: auto;
    margin-top: 4%;
    width: 90%;

}

.checkboxgroup {
    display: inline-block;
    text-align: center;
    width: 45%;
  }
  .checkboxgroup label {
    display: block;
    font-family: 'Josefin Sans';
  }

  #radio_1{
      height: 72px;
      width: 72px;
  }

  
  #radio_2{
    height: 72px;
    width: 72px;
}

#checkboxes{
    margin-bottom: 15%;
}